<div class="container-general-card">
    <div class="banner">
        <div class="slider">
            <div class="item item-1"><img src="/assets/images/dragon-uno.avif" alt=""></div>
            <div class="item item-2"><img src="/assets/images/dragon-dos.jpg" alt=""></div>
            <div class="item item-3"><img src="/assets/images/dragon-tres.jpg" alt=""></div>
            <div class="item item-4"><img src="/assets/images/dragon-cuatro.jpg" alt=""></div>
            <div class="item item-5"><img src="/assets/images/dragon-cinco.avif" alt=""></div>
            <div class="item item-6"><img src="/assets/images/dragon-seis.jpg" alt=""></div>
            <div class="item item-7"><img src="/assets/images/dragon-siete.avif" alt=""></div>
            <div class="item item-8"><img src="/assets/images/dragon-ocho.avif" alt=""></div>
            <div class="item item-9"><img src="/assets/images/dragon-nueve.avif" alt=""></div>
            <div class="item item-10"><img src="/assets/images/dragon-diez.jpg" alt=""></div>
        </div>
    </div>
</div>
