.scrollToBar{
  top: 0;
  behavior: 'smooth';
}

.title-pokemon{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(90deg, #a81d1d, #2a3da8, #4b0ba0, #a023a0, #19d3d3, #ff0000);
    -webkit-background-clip: text;
    background-size: 300%;
    transition: all 1s ease-in-out;
    animation: colorShift 6s ease-in-out infinite;
}

.info-status-label {
  min-width: 150px;
  opacity: 1;
  border-radius: 3px;
  padding: 3px 5px;
  background: #0402270D;
  text-align: center;
  font-weight: normal;
  position: absolute;
  margin-left: 80%;
}

.info-status-label.success {
  background: #058b638a 0% 0% no-repeat padding-box;
  color: dark;
}

.card:hover{
  box-shadow: 0px 20px 30px -10px #4b0ba0;
}

.card-image-pokemon{
  max-width: 200px;
  max-height: 200px;
  height: 200px;
  margin: 0 auto;
  transition: all 0.6 ease-in-out;
}

.card-text{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 500;
}

.footer-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  padding: 4px;
}

.btn-primary{
  width: 110px;
  padding: 3px;
  background-color: #2a3da8;
  transition: all 0.4s ease-in-out;
}

.btn-primary:hover{
    background-color: #4b0ba0;
}

.btn-secondary{
  width: 120px;
  background-color: #4b0ba0;
  border: 1px solid #fff;
  margin-left: 7px;
}

.progress{
  border: 1px solid #c9c9c9;
}

.progress-bar.fire{
  background-color: #c41138;
}

.progress-bar.water{
  background-color: #166e97 !important;
}

.progress-bar.electric{
  background-color: #e0cd1d !important;
}

.progress-bar.grass{
  background: linear-gradient(135deg, hsla(120, 100%, 20%, 1) 0%, hsla(300, 100%, 25%, 1) 100%);
}

.progress-bar.ground{
  background-color: #D2B48C; 
}

.progress-bar.poison{
  background-color: #A040A0; 
}

.progress-bar.bug{
  background-color: #A8B820;
}

.progress-bar.fairy{
  background-color: #EE99AC;
}

.btn-custom-ability{
  max-width: 120px;
  width: 100px;
  padding: 2px;
  border-radius: 2px;
  color: #fff;
  margin-right: 4px;
  font-size: 14px;
  font-family:Arial, Helvetica, sans-serif;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.water{
  background-color: #166e97;
}

.fire{
  background-color: #c41138;
}

.grass{
  background: linear-gradient(135deg, hsla(120, 100%, 20%, 1) 0%, hsla(300, 100%, 25%, 1) 100%);
}

.electric{
  background-color: #e0cd1d !important;
}

.ground{
  background-color: #D2B48C; 
}

.poison{
  background-color: #A040A0; 
}

.bug{
  background-color: #A8B820;
}

.fairy{
  background-color: #EE99AC;
}


@keyframes colorShift {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }