.slides-position {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 1rem;
}

.position div{
    width: 90px;
    padding: 2px;
    border-radius: 20%;
    display: inline-block;
    border: 1px solid #f1f1f1;
}

.position div.active{
    background-color: #ff30cb;
}

.carousel-inner{
    margin-top: 1rem;
    box-shadow: 0px 1px 0px 2px  #ebeaea;
}

.carousel-item{
    width: 100%;
}

.images-slides{
    width: 100%;
    object-fit: contain;
    height: 500px;
}

.carousel-control-next{
    bottom: 50%;
    top: 45%;
}

.carousel-control-prev{
    bottom: 50%;
    top: 45%;
}

.carousel-control-prev-icon{
    background-color: #000;
    color: #000;
}

.carousel-control-next-icon{
    background-color: #000;
    color: #000;
}